<a href="https://colab.research.google.com/github/hoonzi-s/APC/blob/main/%231%20ALK%20_%20213BTMRVP%20Inferential%20_%20Rev%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_squared_error as MSE

In [78]:
data_origin = pd.read_csv('/content/drive/MyDrive/#1 ALK RVP CSV.csv', index_col = 0)
data_origin.info()
data_origin.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2708 entries, 2014-09-16 to 2022-05-17
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RVP_LAB         2708 non-null   float64
 1   S.B5.213TI2804  2708 non-null   float64
 2   S.B5.213PI2806  2708 non-null   float64
 3   S.B5.213FC2602  2708 non-null   float64
dtypes: float64(4)
memory usage: 105.8+ KB

           RVP_LAB  S.B5.213TI2804  S.B5.213PI2806  S.B5.213FC2602
count  2708.000000     2708.000000     2708.000000     2708.000000
mean     39.308013      133.969684      335.047833       85.923927
std       3.406074        3.452283       29.851255       10.770634
min      28.500000       97.606803      291.821242       35.510519
25%      37.400000      131.998333      318.077753       80.966155
50%      39.000000      133.436735      325.511703       88.584186
75%      40.700000      136.158762      338.359004       92.780427
max      98.600000      145.939417      520.512731      113.968771

In [79]:
data_origin.columns = ['RVP', 'T', 'P', 'F']
data = data_origin[(data_origin['RVP'] < 70) & (data_origin['T'] > 120)]
data

             RVP           T           P          F
2014-09-16  35.5  136.582564  335.836740  89.956760
2014-09-17  33.5  138.822292  338.164993  89.462762
2014-09-18  34.4  138.079717  339.017050  91.780995
2014-09-19  34.3  137.367731  335.839848  96.444227
2014-09-20  35.2  137.442057  349.710404  91.365322
...          ...         ...         ...        ...
2022-05-13  43.7  127.127323  326.187806  84.417961
2022-05-14  49.9  123.287827  321.014425  96.055985
2022-05-15  48.7  125.099084  332.709037  92.796671
2022-05-16  51.0  122.406470  325.956086  95.187382
2022-05-17  48.8  125.150054  333.044840  88.256575

[2705 rows x 4 columns]

In [80]:
A = 7.00961   # Temperature in Celsius
B = 1022.48
C = 248.145
P_ref = (335 / 101.325 + 1) * 760   # kPa to mmHg

data['PCT'] = data.iloc[:, 1] + B * np.log10(P_ref / (data.iloc[:, 2] / 101.325 + 1) / 760) / (A - np.log10(P_ref)) / (A - np.log10((data.iloc[:, 2] / 101.325 + 1) * 760))
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             RVP           T           P          F         PCT
2014-09-16  35.5  136.582564  335.836740  89.956760  136.512888
2014-09-17  33.5  138.822292  338.164993  89.462762  138.559265
2014-09-18  34.4  138.079717  339.017050  91.780995  137.746123
2014-09-19  34.3  137.367731  335.839848  96.444227  137.297795
2014-09-20  35.2  137.442057  349.710404  91.365322  136.231441
...          ...         ...         ...        ...         ...
2022-05-13  43.7  127.127323  326.187806  84.417961  127.867296
2022-05-14  49.9  123.287827  321.014425  96.055985  124.467575
2022-05-15  48.7  125.099084  332.709037  92.796671  125.290371
2022-05-16  51.0  122.406470  325.956086  95.187382  123.166055
2022-05-17  48.8  125.150054  333.044840  88.256575  125.313255

[2705 rows x 5 columns]

In [122]:
n = 0
information = pd.DataFrame(columns=['Variables', 'Solution', 'Scaler', 'train_R2', 'test_R2', 'MAE', 'MSE'])
information

Empty DataFrame
Columns: [Variables, Solution, Scaler, train_R2, test_R2, MAE, MSE]
Index: []

# T, P

## LinearRegression

In [82]:
input = data[['T', 'P']]
target = data['RVP']
train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)

In [83]:
lr = LinearRegression()
scores = cross_validate(lr, train_input, train_target, cv = KFold(), return_estimator = True)
print(np.mean(scores['test_score']))
for model in scores['estimator']:
  print(model.coef_)

0.5287597265436045
[-0.7104499   0.09185525]
[-0.72918411  0.09266503]
[-0.7246665  0.0940519]
[-0.69961451  0.09370344]
[-0.69312717  0.0871872 ]

In [84]:
print(scores['test_score'])

[0.53683313 0.51509221 0.52252735 0.46618886 0.60315708]

In [125]:
best_index = np.argmax(scores['test_score'])
best_model = scores['estimator'][best_index]

vars = 'T, P'
soln = 'LinearRegression'
scaler = 'None'
train_R2 = best_model.score(train_input, train_target)
test_R2 = best_model.score(test_input, test_target)
inferential = np.sum(best_model.coef_ * input, axis = 1) + best_model.intercept_
mae = MAE(target, inferential)
mse = MSE(target, inferential)

new = pd.DataFrame({'Variables': vars, 'Solution': soln, 'Scaler': scaler, 'train_R2': train_R2, 'test_R2': test_R2, 'MAE': mae, 'MSE': mse}, index = [n])
n += 1
information = pd.concat([information, new])
information

  Variables          Solution Scaler  train_R2   test_R2       MAE       MSE
2      T, P  LinearRegression   None  0.532205  0.491929  1.617504  4.922551

In [87]:
scores['test_score']

array([0.53683313, 0.51509221, 0.52252735, 0.46618886, 0.60315708])