<a href="https://colab.research.google.com/github/hoonzi-s/APC/blob/main/%231%20ALK%20_%20213BTMRVP%20Inferential%20_%20Rev%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Start

## Import Libraries

In [359]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [360]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [361]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_squared_error as MSE

## Get Data

In [362]:
data_origin = pd.read_csv('/content/drive/MyDrive/#1 ALK RVP CSV.csv', index_col = 0)
data_origin.info()
data_origin.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2708 entries, 2014-09-16 to 2022-05-17
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RVP_LAB         2708 non-null   float64
 1   S.B5.213TI2804  2708 non-null   float64
 2   S.B5.213PI2806  2708 non-null   float64
 3   S.B5.213FC2602  2708 non-null   float64
dtypes: float64(4)
memory usage: 105.8+ KB

           RVP_LAB  S.B5.213TI2804  S.B5.213PI2806  S.B5.213FC2602
count  2708.000000     2708.000000     2708.000000     2708.000000
mean     39.308013      133.969684      335.047833       85.923927
std       3.406074        3.452283       29.851255       10.770634
min      28.500000       97.606803      291.821242       35.510519
25%      37.400000      131.998333      318.077753       80.966155
50%      39.000000      133.436735      325.511703       88.584186
75%      40.700000      136.158762      338.359004       92.780427
max      98.600000      145.939417      520.512731      113.968771

In [363]:
data_origin.columns = ['RVP', 'T', 'P', 'F']
data = data_origin[(data_origin['RVP'] < 70) & (data_origin['T'] > 120)]
data

             RVP           T           P          F
2014-09-16  35.5  136.582564  335.836740  89.956760
2014-09-17  33.5  138.822292  338.164993  89.462762
2014-09-18  34.4  138.079717  339.017050  91.780995
2014-09-19  34.3  137.367731  335.839848  96.444227
2014-09-20  35.2  137.442057  349.710404  91.365322
...          ...         ...         ...        ...
2022-05-13  43.7  127.127323  326.187806  84.417961
2022-05-14  49.9  123.287827  321.014425  96.055985
2022-05-15  48.7  125.099084  332.709037  92.796671
2022-05-16  51.0  122.406470  325.956086  95.187382
2022-05-17  48.8  125.150054  333.044840  88.256575

[2705 rows x 4 columns]

In [364]:
A = 7.00961   # Temperature in Celsius
B = 1022.48
C = 248.145
P_ref = (335 / 101.325 + 1) * 760   # kPa to mmHg

data['PCT'] = data.iloc[:, 1] + B * np.log10(P_ref / (data.iloc[:, 2] / 101.325 + 1) / 760) / (A - np.log10(P_ref)) / (A - np.log10((data.iloc[:, 2] / 101.325 + 1) * 760))
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             RVP           T           P          F         PCT
2014-09-16  35.5  136.582564  335.836740  89.956760  136.512888
2014-09-17  33.5  138.822292  338.164993  89.462762  138.559265
2014-09-18  34.4  138.079717  339.017050  91.780995  137.746123
2014-09-19  34.3  137.367731  335.839848  96.444227  137.297795
2014-09-20  35.2  137.442057  349.710404  91.365322  136.231441
...          ...         ...         ...        ...         ...
2022-05-13  43.7  127.127323  326.187806  84.417961  127.867296
2022-05-14  49.9  123.287827  321.014425  96.055985  124.467575
2022-05-15  48.7  125.099084  332.709037  92.796671  125.290371
2022-05-16  51.0  122.406470  325.956086  95.187382  123.166055
2022-05-17  48.8  125.150054  333.044840  88.256575  125.313255

[2705 rows x 5 columns]

## Set 'n' and 'information'

In [365]:
n = 10
information = pd.DataFrame(columns=['Variables', 'Solution', 'Alpha', 'Scaler', 'train_R2', 'test_R2', 'MAE', 'MSE'])
information

Empty DataFrame
Columns: [Variables, Solution, Alpha, Scaler, train_R2, test_R2, MAE, MSE]
Index: []

# T, P

## LinearRegression

In [366]:
input = data[['T', 'P']]
target = data['RVP']

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'LinearRegression'
alpha = np.nan
scaler = np.nan

In [367]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = LinearRegression()
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.91567

## Ridge

### Ridge (alpha = 0.001)

In [368]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 0.001
scaler = np.nan

In [369]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927

### Ridge (alpha = 0.01)

In [370]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 0.01
scaler = np.nan

In [371]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483

### Ridge (alpha = 0.1)

In [372]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 0.1
scaler = np.nan

In [373]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034

### Ridge (alpha = 1)

In [374]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 1
scaler = np.nan

In [375]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053

### Ridge (alpha = 10)

In [376]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 10
scaler = np.nan

In [377]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104

### Ridge (alpha = 100)

In [378]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Ridge'
alpha = 100
scaler = np.nan

In [379]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Ridge(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353

## Lasso

### Lasso (alpha = 0.001)

In [380]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 0.001
scaler = np.nan

In [381]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385

### Lasso (alpha = 0.01)

In [382]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 0.01
scaler = np.nan

In [383]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898

### Lasso (alpha = 0.1)

In [384]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 0.1
scaler = np.nan

In [385]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852

### Lasso (alpha = 1)

In [386]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 1
scaler = np.nan

In [387]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985

### Lasso (alpha = 10)

In [388]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 10
scaler = np.nan

In [389]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985
0,"T, P",Lasso,10.000,NaN,0.175817,0.164332,2.078529,8.497116

### Lasso (alpha = 100)

In [390]:
input = data[['T', 'P']]
target = data['RVP']
train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'T, P'
soln = 'Lasso'
alpha = 100
scaler = np.nan

In [391]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input, target, test_size = 7/27)
  model = Lasso(alpha = alpha)
  model.fit(train_input, train_target)

  train_R2.append(model.score(train_input, train_target))
  test_R2.append(model.score(test_input, test_target))
  inferential = np.sum(model.coef_ * input, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985
0,"T, P",Lasso,10.000,NaN,0.175817,0.164332,2.078529,8.497116
0,"T, P",Lasso,100.000,NaN,0.000000,-0.001697,2.276524,10.279993

# Poly T, P

## LinearRegression

### StandardScaler

In [392]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'LinearRegression'
alpha = np.nan
scaler = 'Standard'

In [393]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = LinearRegression()
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985
0,"T, P",Lasso,10.000,NaN,0.175817,0.164332,2.078529,8.497116
0,"T, P",Lasso,100.000,NaN,0.000000,-0.001697,2.276524,10.279993
0,"Poly T, P",LinearRegression,NaN,Standard,0.528465,0.541187,1.604628,4.812253

### MinMaxScaler

In [394]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'LinearRegression'
alpha = np.nan
scaler = 'MinMax'

In [395]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = LinearRegression()
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985
0,"T, P",Lasso,10.000,NaN,0.175817,0.164332,2.078529,8.497116
0,"T, P",Lasso,100.000,NaN,0.000000,-0.001697,2.276524,10.279993
0,"Poly T, P",LinearRegression,NaN,Standard,0.528465,0.541187,1.604628,4.812253
0,"Poly T, P",LinearRegression,NaN,MinMax,0.528785,0.539791,1.604847,4.809779

## Ridge

### Ridge (alpha = 0.001)

#### Ridge (alpha = 0.001), StandardScaler

In [396]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.001
scaler = 'Standard'

In [397]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 0.001), MinMaxScaler

In [398]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.001
scaler = 'MinMax'

In [399]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

### Ridge (alpha = 0.01)

#### Ridge (alpha = 0.001), StandardScaler

In [400]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.01
scaler = 'Standard'

In [401]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 0.001), MinMaxScaler

In [402]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.01
scaler = 'MinMax'

In [403]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

### Ridge (alpha = 0.1)

#### Ridge (alpha = 0.1), StandardScaler

In [404]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.1
scaler = 'Standard'

In [405]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 0.1), MinMaxScaler

In [406]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 0.1
scaler = 'MinMax'

In [407]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

### Ridge (alpha = 1)

#### Ridge (alpha = 1), StandardScaler

In [408]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 1
scaler = 'Standard'

In [409]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 1), MinMaxScaler

In [410]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 1
scaler = 'MinMax'

In [411]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

### Ridge (alpha = 10)

#### Ridge (alpha = 10), StandardScaler

In [412]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 10
scaler = 'Standard'

In [413]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 10), MinMaxScaler

In [414]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 10
scaler = 'MinMax'

In [415]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

### Ridge (alpha = 100)

#### Ridge (alpha = 100), StandardScaler

In [416]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 100
scaler = 'Standard'

In [417]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = StandardScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

#### Ridge (alpha = 100), MinMaxScaler

In [418]:
input = data[['T', 'P']]
target = data['RVP']

pf = PolynomialFeatures()
pf.fit(input)
input_poly = pf.transform(input)

train_R2 = []
test_R2 = []
mae = []
mse = []

vars = 'Poly T, P'
soln = 'Ridge'
alpha = 100
scaler = 'MinMax'

In [419]:
for i in range(n):
  train_input, test_input, train_target, test_target = tts(input_poly, target, test_size = 7/27)
  sc = MinMaxScaler()
  sc.fit(train_input)
  input_poly = sc.transform(input_poly)
  train_poly = sc.transform(train_input)
  test_poly = sc.transform(test_input)

  model = Ridge(alpha = alpha)
  model.fit(train_poly, train_target)

  train_R2.append(model.score(train_poly, train_target))
  test_R2.append(model.score(test_poly, test_target))
  inferential = np.sum(model.coef_ * input_poly, axis = 1) + model.intercept_
  mae.append(MAE(target, inferential))
  mse.append(MSE(target, inferential))

new = pd.DataFrame({'Variables': vars, 
                    'Solution': soln, 
                    'Alpha': alpha, 
                    'Scaler': scaler, 
                    'train_R2': np.mean(train_R2), 
                    'test_R2': np.mean(test_R2), 
                    'MAE': np.mean(mae), 
                    'MSE': np.mean(mse)}, 
                   index = [0])
information = pd.concat([information, new])

In [420]:
information

,Variables,Solution,Alpha,Scaler,train_R2,test_R2,MAE,MSE
0,"T, P",LinearRegression,NaN,NaN,0.522902,0.518937,1.619899,4.915670
0,"T, P",Ridge,0.001,NaN,0.527389,0.498751,1.619905,4.917927
0,"T, P",Ridge,0.010,NaN,0.532898,0.489001,1.621278,4.916483
0,"T, P",Ridge,0.100,NaN,0.519200,0.528890,1.619413,4.916034
0,"T, P",Ridge,1.000,NaN,0.523388,0.516329,1.619572,4.917053
0,"T, P",Ridge,10.000,NaN,0.519856,0.526322,1.619194,4.915104
0,"T, P",Ridge,100.000,NaN,0.512440,0.546495,1.619604,4.916353
0,"T, P",Lasso,0.001,NaN,0.521830,0.520063,1.620170,4.915385
0,"T, P",Lasso,0.010,NaN,0.520232,0.524632,1.619572,4.915898
0,"T, P",Lasso,0.100,NaN,0.526644,0.507279,1.619087,4.915852
0,"T, P",Lasso,1.000,NaN,0.508228,0.501254,1.635233,5.069985
0,"T, P",Lasso,10.000,NaN,0.175817,0.164332,2.078529,8.497116
0,"T, P",Lasso,100.000,NaN,0.000000,-0.001697,2.276524,10.279993
0,"Poly T, P",LinearRegression,NaN,Standard,0.528465,0.541187,1.604628,4.812253
0,"Poly T, P",LinearRegression,NaN,MinMax,0.528785,0.539791,1.604847,4.809779
0,"Poly T, P",Ridge,0.001,Standard,0.533022,0.527969,1.605093,4.812885
0,"Poly T, P",Ridge,0.001,MinMax,0.529624,0.532784,1.605178,4.814943
0,"Poly T, P",Ridge,0.010,Standard,0.530239,0.532587,1.605156,4.814552
0,"Poly T, P",Ridge,0.010,MinMax,0.527769,0.532730,1.607401,4.836403
0,"Poly T, P",Ridge,0.100,Standard,0.533384,0.524517,1.604989,4.817367
0,"Poly T, P",Ridge,0.100,MinMax,0.517926,0.541168,1.615372,4.892019
0,"Poly T, P",Ridge,1.000,Standard,0.530056,0.521539,1.609971,4.847029
0,"Poly T, P",Ridge,1.000,MinMax,0.519993,0.512615,1.623581,4.955532
0,"Poly T, P",Ridge,10.000,Standard,0.528991,0.499167,1.618790,4.911252
0,"Poly T, P",Ridge,10.000,MinMax,0.488431,0.491024,1.657479,5.247576
0,"Poly T, P",Ridge,100.000,Standard,0.514162,0.519973,1.624756,4.974886
0,"Poly T, P",Ridge,100.000,MinMax,0.234993,0.239548,1.994311,7.847718